{% extends "::layout.html.twig" %}

{% block title parent() ~ "Administration" %}
    
{% block content %}
    
    <center>Page d'administration</center>
    <ul>
        <li><a href='{{ path('_listUser')}}'>Liste des utilisateurs</a></li>
        <li><a href='{{ path('_listeClasse')}}'>Informations sur une classe</a></li>
        <li><a href='{{ path('_uploadCsv')}}'>Importation d'un fichier CSV</a></li>
        <li><a href='{{ path('_resetMdpBySelectingProf')}}'>Réinitialiser le mot de passe d'un professeur</a></li>
        <li><a href='{{ path('_addProf')}}'>Ajouter un professeur</a></li>
        <li><a href='{{ path('_removeUser')}}'>Supprimer un professeur</a></li>
        <li><a href='{{ path('_addEleve')}}'>Ajouter un élève</a></li>
        <li><a href='{{ path('_removeEleve')}}'>Supprimer un élève</a></li>
        <li><a href='{{ path('_removeClasse')}}'>Supprimer une classe</a></li>
        <li><a href='{{ path('_setAdmin')}}'>Promouvoir un utilisateur</a></li>
        <li><a href='{{ path('_setUser')}}'>Retrograder un administrateur </a></li>
    </ul>
    
    <b><br/> 
        {% for flashMessage in app.session.flashbag.get('resetDone') %}
                {{ flashMessage }}
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('classeCreated') %}
                {{ flashMessage }}
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('mdpChanged') %}
                {{ flashMessage }}
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('csvUploaded') %}
                {{ flashMessage }}
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('profAdded') %}
                {{ flashMessage }}
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('eleveAdded') %}
                {{ flashMessage }}
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('eleveUpdate') %}
                {{ flashMessage }}
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('adminSetted') %}
                {{ flashMessage }}
        {% endfor %} 
        {% for flashMessage in app.session.flashbag.get('adminUnsetted') %}
                {{ flashMessage }}
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('userRemoved') %}
                {{ flashMessage }}
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('eleveRemoved') %}
                {{ flashMessage }}
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('classeRemoved') %}
                {{ flashMessage }}
        {% endfor %}
    </b>
{% endblock %}