{% extends "::layout.html.twig" %}

{% block title parent() ~ "Gestion de l'utilisateur" %}
    
{% block content %}
    
    <center>Gestion de l'utilisateur</center><br/>
    Nom d'utilisateur : {{ app.security.getToken().getUser().getUsername() }}<br/>
    Nom: {{ app.security.getToken().getUser().getNom() }}<br/>
    Prenom: {{ app.security.getToken().getUser().getPrenom() }}<br/>
    E-mail:
        {% if  app.security.getToken().getUser().getEmail() == "vide"%}
            <span style="color: red;">Veuillez renseigner votre mail !</span>
        {% else%}
            {{ app.security.getToken().getUser().getEmail()}}
        {% endif %}
        
    {#{ app.security.getToken().getUser().getEmail() }#}<br/><br/>
    <ul>
        <li><a href='{{ path('_updateMdp')}}'>Changer votre mot de passe</a></li>
        <li><a href='{{ path('_updateEmail')}}'>Changer votre email</a></li>
        <li><a href='{{ path('_updateNom')}}'>Changer votre nom et prenom</a></li>
    </ul>
        <b><br/>
        {% for flashMessage in app.session.flashbag.get('mdpChanged') %}
                {{ flashMessage }}
            {% endfor %}
        {% for flashMessage in app.session.flashbag.get('emailChanged') %}
                {{ flashMessage }}
            {% endfor %}
        {% for flashMessage in app.session.flashbag.get('nomChanged') %}
                {{ flashMessage }}
            {% endfor %}
        
        </b>
{% endblock %}