{% extends "::layout.html.twig" %}

{% block title parent() ~ "Gestion de l'utilisateur" %}
    
{% block content %}
    
    {% block javascript %}
        {% if app.request.get('mdpChanged') == 'true'%}
            <script type="text/javascript">alert('Mot de passe changé !');</script>
        {% endif %}
        {% if app.request.get('emailChanged') == 'true'%}
            <script type="text/javascript">alert('E-mail changé !');</script>
        {% endif %}
        {% if app.request.get('nomChanged') == 'true'%}
            <script type="text/javascript">alert('Nom et prénom changés !');</script>
        {% endif %}
    {% endblock %}
    
    <center>Gestion de l'utilisateur</center><br/>
    Nom d'utilisateur : {{ app.security.getToken().getUser().getUsername() }}<br/>
    Nom: {{ app.security.getToken().getUser().getNom() }}<br/>
    Prenom: {{ app.security.getToken().getUser().getPrenom() }}<br/>
    E-mail: {{ app.security.getToken().getUser().getEmail() }}<br/><br/>
    <ul>
        <li><a href='{{ path('_updateMdp')}}'>Changer votre mot de passe</a></li>
        <li><a href='{{ path('_updateEmail')}}'>Changer votre email</a></li>
        <li><a href='{{ path('_updateNom')}}'>Changer votre nom et prenom</a></li>
    </ul>
{% endblock %}