 {% extends "::layout.html.twig" %}

{% block title parent() ~ "Liste des utilisateurs" %}
    
    {% block css %}
        <link rel="stylesheet" href="{{ asset('//cdn.datatables.net/1.10.3/css/jquery.dataTables.min.css') }}"/>
    {% endblock%}
    
{% block content %}
    <h2>Utilisateurs</h2>
    <table id ="usersTable" class="display" cellspacing="2px" cellpadding="2px" rules="all">
        <thead>
            <tr>
                <th>Username</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Role</th>
                <th>E-mail</th>
                <th>Classe</th>
            </tr>
        </thead>
        <tbody>
    {% for user in users %}
            <tr>
                <td>{{user.nom}}</td>
                <td>{{user.prenom}}</td>
                <td>{{user.username}}</td>
                <td>
                    {% for group in user.groups %}
                        {{group.name}}
                    {% endfor %}
                </td>
                <td>{{user.email}}</td>
                <td>
                    {% for classe in user.classes %}
                        {{classe.name~" | "}}
                    {% endfor %}
                </td>
            </tr> 
        
    {% endfor %}
    <tbody>
    </table>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" charset="utf8" src="{{ asset('//code.jquery.com/jquery-1.10.2.min.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ asset('//cdn.datatables.net/1.10.3/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready( function () {
            $('#usersTable').DataTable();
        } );
    </script>
{% endblock %}

