{% extends "::layout.html.twig" %}

{% block title parent() ~ "Partitionneur" %}
    
    {% block javascripts %}
        <script>
            
            /*       
             *      LIMITE DE LA FONCTION : 
             *      si on ajoute des élèves à la main (via textArea) 
             *      le nbEleve sera trjs le même
             *      
             */
            
            function firstPush() {
                var cardinal = $('#cardgroupes').val();
                var nbEleve = {{ eleves | length }};
                //var nbEleve = $('#nbEleve').val();
                //alert(nbEleve);
                var blocChoixGroup = $('#choixGroupe');
                if (cardinal <= 0 || cardinal == 1 || cardinal >= nbEleve) {
                    alert("Le cardinal doit être un nombre compris entre 1 (exclu) et le nombre total d'élèves (exlu aussi)")
                }
                else if (nbEleve % cardinal == 0) {
                    blocChoixGroup.html("<b id=\"msgEqui\">Tous les groupes sont équilibrés !</b>")
                    uploadForm();
                }
                else {
                    blocChoixGroup.html("<input type='radio' name='choice'\n\
                        onChange='uploadForm();' value='maxi' checked='true'>\n\
                            Un maximum de groupe au cardinal max<br/>\n\
                        <input type='radio' name='choice' \n\
                            onChange='uploadForm(\"equilibre\");' \n\
                                value='equilibre'>Un maximum de groupe équilibrés");
                    uploadForm();
                }
            }
       </script> 
    {% endblock %}
    
    
{% block content %}
    
    
    
    <div class="row">
        
        
        <div class="col-md-5">
            <!--<div class="form-group">
                <label>Intitulé du devoir</label> <input class="form-control" />
            </div>-->
            {% if app.user and is_granted('ROLE_USER') %}
                {% if app.security.getToken().getUser().getClasses()|length > 0%}
                   {{ form(form) }}
                {% endif %}
            {% endif %}
            <div class="form-group">        
                <label> Cardinale max des groupes <input class="form-control" type="text" id='cardgroupes' value="3"/>
                </label>     
            </div>

            <!--<div class="form-group">
                <label>Fichier des élèves (csv = prénom;nom)</label> <input type="file" />
            </div>-->
            
            <div class="form-group">
                <label  for="listeeleves">Liste élèves <b id="nbEleve">({{ eleves | length }} élèves)</b></b></label>         

                <textarea class="form-control" id="listeeleves" name="listeeleves" rows="10">{% if eleves is defined %}{% for eleve in eleves %}{{ eleve ~ '\n'|raw}}{% endfor %}{% endif %}</textarea>       

            </div>

            <div class="form-group">
                <button type="button" class="btn" onClick="firstPush();">Soumettre</button>        
            </div>
            
        </div>
        <div class="col-lg-4"><img src="{{ asset('bundles/bootstrap/images/cakeMission2.jpg') }}" alt="parts_egales" /></div>
   </div>
    
  <!-- Panel -->
  <div class="text-center" >
  <div class="panel panel-default">
   <div class="panel-heading">Données pour la génération des groupes</div>
   <div class="panel-body">
    <div class="row">
     <!--<h3>Choix d'une partition</h3>-->
     
        <div id="choixGroupe">
            <!--<input type="radio" name='choice' onChange="uploadForm();" value="maxi" checked="true">Un maximum de groupe au cardinal max<br/>
            <input type="radio" name='choice' onChange="uploadForm('equilibre');" value="equilibre">Un maximum de groupe équilibrés-->
        </div>
     
    </div>
   </div>
  </div>
  <div class="panel panel-default">
   <div class="panel-heading">Voici les groupes</div>
   <div class="panel-body">
    <div class="row" id="res">
     <h3>Les groupes</h3>

    </div>
   </div>
  </div>
    
      <script src="{{ asset('bundles/partitionneur/uploadForm.js') }}"></script>
{% endblock %}


